{% extends  'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    {% if user.is_authenticated %}
   
    <h1 class="display-5 fw-normal text-center">Hello {{ user.username }}</h1>
    {% else %}
    <h1 class="display-5 fw-normal text-center">Login</h1>
        <br><br>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}

      
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username"  placeholder="User name" name="username" required>
             
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="Password" name="password" required>
        </div>
        
        <button type="submit" class="btn btn-secondary mt-2 px-4">Login</button>
         
    </form>
   
    {% endif %}
</div>
{% endblock %}